
/* Paragraphs, blocks, and inline tags. */

.block {

    font-size: 1.15rem;
    line-height: 1.75rem;
    
    p {

    }

    .inline-code {
        background: rgba(0, 0, 0, 0.78);
        color: #00f7ff;
    }
    
}